<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/09/24 14:01:09 any Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://mast.unican.es/xmlmast/model"
            class="es.unican.mast.xmlmast.MASTDefinition.ModelPackage"
            genModel="models/MASTDefinition.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="model"
            class="es.unican.mast.xmlmast.MASTDefinition.util.ModelResourceFactoryImpl"/>
   </extension>

</plugin>
